@import "./vars";

.PlayControl {
  display: grid;
  grid-template-columns: 8em 1fr;

  .Buttons {
    display: flex;
    align-items: center;
    padding: 0 1em;
  }

  .Info {
    display: grid;
    grid-template-rows: 1.5em 1em 1fr;
  }
}

.Axis {
  font-size: .8em;
  display: flex;
  align-items: center;
}

.Bar {
  // background-color: rgba(white, $GS5);
  display: grid;
  padding-right: 4em;

  .outer {
    background-color: rgba(white, $GS4);
    display: flex;
    .inner {
      background-color: themeColor(tna, base);
    }
  }
}