@import "./vars";

.PlayControl {
  display: grid;
  grid-template-columns: 8em 1fr;

  .Buttons {
    display: flex;
    align-items: center;
    padding: 0 1em;
  }

  .Info {
    display: grid;
    grid-template-rows: 1.5em 1em 1fr;
  }
}

.Axis {
  font-size: .8em;
  display: flex;
  align-items: center;

  .t {
    width: 8em;
  }

  .l {
    margin-right: .5em;
    color: gold;
  }
}

.Bar {
  // background-color: rgba(white, $GS5);
  display: grid;
  padding-right: 4em;

  .outer {
    background-color: rgba(white, $GS3);
    display: flex;
    .inner {
      background-color: themeColor(tna, base);
    }
  }
}

.Buttons {
  .btn {
    color: themeColor(tna, base);
    background-color: transparent;
    border: solid 1px themeColor(tna, base);
    font-size: 1.2em;
    padding: 0;
    height: 2em;
    width: 2em;
    &:hover {
      color: black;
    }
  }
}