.CheckList {
  padding: 1em;
}

@keyframes ok {
  from {
    opacity: 0;
    transform: scale(3);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.item {
  color: rgba(white, 0.382);
  display: flex;

  &.checked {
    color: gold;
    font-weight: bold;
  }

  .ok {
    display: block;
    position: relative;
    color: greenyellow;
    font-weight: bold;
    margin-left: .5em;
    animation: ok .3s ease-out forwards;
  }
}