.ui {
  display: flex;
  align-items: center;
}

.Bar {
  padding: 2em 0;
  display: flex;
  align-items: center;

  .outer {
    width: 24em;
    height: 1.5em;
    border: solid 1px white;
    padding: 2px;
    border-radius: 4px;
  }

  .inner {
    height: 1.5em;
    // background-color: coral;
    transition: width .2s ease-out;
    border-radius: 2px;
  }

  .n {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: .5em;
    width: 2em;
  }
}

@keyframes up {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-1em);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(1em);
  }
}

.Change {
  font-size: 1.5em;
  font-weight: bold;

  &.z {
    position: relative;
    color: greenyellow;
    animation: up .3s ease-out forwards;
  }

  &.f {
    position: relative;
    color: coral;
    animation: down .3s ease-out forwards;
  }
}