.UIPersonStatus {
  font-size: 28px;
  line-height: 1;

  label {
    position: absolute;
    width: 5em;
    text-align: right;
  }

  label:nth-child(1) { top: 50px; right: 24px; }

  label:nth-child(2) { top: 113px; right: 190px; }
  label:nth-child(3) { top: 113px; right: 24px; }

  label:nth-child(4) { top: 157px; right: 190px; }
  label:nth-child(5) { top: 157px; right: 24px; }

  label:nth-child(6) { top: 201px; right: 190px; }
  label:nth-child(7) { top: 201px; right: 24px; }

  label:nth-child(8) { top: 244px; right: 190px; }
  label:nth-child(9) { top: 244px; right: 24px; }
}